@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}

@media screen and (min-width: 375px) and (max-width: 1023px) {
  .custom-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
  }
}

@media (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }
}

/* Hide Navbar when screen width is less than 768px (md) */
@media (max-width: 767px) {
  .navbar {
    display: none;
  }
}

.blur {
  filter: blur(20px);
}

.bg-black {
  background: rgba(18, 18, 20, 0.5); /* Setting opacity to 50% */
}

.nav-links {
  filter: none; /* Remove blur effect from navigation links */
}


.text-gradient {
  background: linear-gradient(240deg, #208ff9, #ffa600);
}
.becarios-gradient {
  background: linear-gradient(10deg, #208ff9, #f2b23d);
}

.becarios-gradient-outline {
  border-radius: 6px;
  background-origin: border-box;
  mask: /*4*/
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  border-image: linear-gradient(10deg, #208ff9, #f2b23d) 1; /* Apply gradient as border image */
}


.becarios-border-gradient {
  border-bottom: 2px solid transparent;
  background-origin: border-box;
  mask: /*4*/
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  border-image: linear-gradient(10deg, #208ff9, #f2b23d) 1; /* Apply gradient as border image */
  background-clip: border-box;
}



.article-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
