.landing-main-div {
  background-color: black;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.landing-page-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%; /* Adjust as needed */
  height: 100%;
  background: black url("../../assets/LandingBG.png");
  background-size: cover;
  background-position: center;
  background-color: black;
  border-bottom-right-radius: 10rem; /* Adjust the radius as needed */
}

.landing-page-mobile-view {
  position: fixed;
  top: 3;
  left: 0;
  width: 150%; /* Adjust as needed */
  height: 100%;
  background: black url("../../assets/LandingBG.png");
  background-size: cover;
  background-position: center;
  background-color: black;
  border-bottom-right-radius: 10rem; /* Adjust the radius as needed */
}

.landing-grid {
  display: grid;
  place-items: center;
}

.glow-button {
  background-image: linear-gradient(270deg, #208ff9, #f2b23d);
  padding: 7px 7px;
  border: none;
  color: black;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow:
    0 0 4px #208ff9,
    0 0 4px #f2b23d,
    0 0 4px #208ff9,
    0 0 4px #f2b23d,
    0 0 4px #208ff9;
  outline: none;
}

.glow-button:hover {
  box-shadow:
    0 0 5px #208ff9,
    0 0 10px #f2b23d,
    0 0 5px #208ff9,
    0 0 10px #f2b23d,
    0 0 5px #208ff9;
  background: black;
  color: white;
}

.landing-footer {
  position: fixed;
  bottom: 0;
  transform: translateY(-50%);
}
